/* ========================
   SECTION: HERO
   ======================== */

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("./../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
}

/* ========================
   SECTION: INSPIRATION
   ======================== */

.section__inspiration {
  display: grid;
  // Grid with 2 columns
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  min-height: 700px;

  .big-image {
    background: url("../assets/inspiration-images/smoothie.jpg") center/cover;
  }

  .small-images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .img-1 {
      background: url("../assets/inspiration-images/avokado-peach.jpg")
        center/cover;
    }

    .img-2 {
      background: url("../assets/inspiration-images/yellow-avocado.jpg")
        center/cover;
    }

    .img-3 {
      background: url("../assets/inspiration-images/good-morning.jpg")
        center/cover;
    }

    .img-4 {
      background: url("../assets/inspiration-images/sandwich.jpg") center/cover;
    }
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

/* ========================
   SECTION: BANNER
   ======================== */

.section__banner {
  background: url("../assets/three-avokados.jpg") center/cover;
  min-height: 500px;
}

/* ========================
   SECTION: TOP STORIES
   ======================== */

.section__top-stories {
  display: grid;
  // Grid with 2 columns
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  #big-story {
    padding: 1em;
    background-color: #f0f0f0;
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .content,
    .ingredients {
      width: 50%;
      @media screen and (max-width: 767px) {
        // TODO: Check this shit up!
        width: 70%;
      }
    }

    .content {
      padding-right: 0.5em;

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }

    .ingredients {
      padding-left: 0.5em;

      li {
        font-size: 0.8rem;
      }
    }

    span {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .small-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    min-height: 400px;

    .img-1 {
      background: url("../assets/top-story-images/pink-avocado.jpg")
        center/cover;
    }

    .img-2 {
      background: url("../assets/top-story-images/avocado-show.jpg")
        center/cover;
    }
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

/* ========================
   SECTION: TOP FILTER
   ======================== */
.section__recipes-container {
  .section__filter {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 2rem 0;
    border-bottom: 1px solid #d0d0d0;

    .filter-container {
      position: relative;

      .filter-wrapper {
        display: flex;
      }

      h4 {
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          background: url("../assets/arrow-down.svg") no-repeat;
          background-size: cover;
          top: 4px;
          position: absolute;
          right: -20px;
          height: 10px;
          width: 10px;
          z-index: 2222;
        }
      }

      .filter-box {
        margin-right: 60px;
      }

      .filterDropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 3s ease-out;

        label {
          text-transform: capitalize;
          padding: 0.7rem 0;
          font-size: 0.9rem;
          border-bottom: 1px solid #d0d0d0;
        }

        &.active {
          height: auto;
        }

        a {
          color: $black;
        }
      }
    }
  }

  #section__recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;

    .recipy-wrapper {
      background: #f0f0f0;
      padding: 0.5em;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      // height: fit-content;

      img {
        height: 200px;
        object-fit: cover;
      }

      h3 {
        margin: 10px 0;
        font-size: 1.2rem;
      }
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}
