.section__filter {
  /* ========================
   SECTION: SORT
   ======================== */

  .sort-container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      width: 50%;
    }
    .sort-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      .sort-buttons {
        button:first-child {
          background-color: $secondary-color;
          color: $white;
          &:hover {
            background-color: #c0c7688f;
          }
        }
        button:last-child {
          color: $black;
        }
      }
    }
  }
}
