@import "fonts";
@import "variables";
@import "layouts";
@import "filter";
@import "sort";
@import "search";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 1.2vw, 32px);
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  max-width: 2560px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  padding: 0 3em;
}

section {
  margin: 2em auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  color: $white;
  font-size: 7rem;
  font-family: "Spartan", sans-serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.5em;
  font-weight: 300;
}

ul li {
  list-style: none;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

hr {
  border: 1px solid #e3e3e3;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 0.6rem 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  min-width: 150px;
}

select {
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.2rem 1.1rem;
  background-color: $secondary-color;
  color: $white;
}

@media screen and (max-width: 667px) {
  main {
    padding: 0 1em;
  }
  h1 {
    font-size: 4rem;
  }
}
