@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ========================
   SECTION: HERO
   ======================== */
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("./../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
}

/* ========================
   SECTION: INSPIRATION
   ======================== */
.section__inspiration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  min-height: 700px;
}
.section__inspiration .big-image {
  background: url("../assets/inspiration-images/smoothie.jpg") center/cover;
}
.section__inspiration .small-images {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.section__inspiration .small-images .img-1 {
  background: url("../assets/inspiration-images/avokado-peach.jpg") center/cover;
}
.section__inspiration .small-images .img-2 {
  background: url("../assets/inspiration-images/yellow-avocado.jpg") center/cover;
}
.section__inspiration .small-images .img-3 {
  background: url("../assets/inspiration-images/good-morning.jpg") center/cover;
}
.section__inspiration .small-images .img-4 {
  background: url("../assets/inspiration-images/sandwich.jpg") center/cover;
}
@media screen and (max-width: 767px) {
  .section__inspiration {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

/* ========================
   SECTION: BANNER
   ======================== */
.section__banner {
  background: url("../assets/three-avokados.jpg") center/cover;
  min-height: 500px;
}

/* ========================
   SECTION: TOP STORIES
   ======================== */
.section__top-stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.section__top-stories #big-story {
  padding: 1em;
  background-color: #f0f0f0;
  display: flex;
}
@media screen and (max-width: 767px) {
  .section__top-stories #big-story {
    flex-direction: column;
  }
}
.section__top-stories #big-story .content,
.section__top-stories #big-story .ingredients {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .section__top-stories #big-story .content,
  .section__top-stories #big-story .ingredients {
    width: 70%;
  }
}
.section__top-stories #big-story .content {
  padding-right: 0.5em;
}
.section__top-stories #big-story .content img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.section__top-stories #big-story .ingredients {
  padding-left: 0.5em;
}
.section__top-stories #big-story .ingredients li {
  font-size: 0.8rem;
}
.section__top-stories #big-story span {
  font-size: 0.9rem;
  font-weight: 600;
}
.section__top-stories .small-stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  min-height: 400px;
}
.section__top-stories .small-stories .img-1 {
  background: url("../assets/top-story-images/pink-avocado.jpg") center/cover;
}
.section__top-stories .small-stories .img-2 {
  background: url("../assets/top-story-images/avocado-show.jpg") center/cover;
}
@media screen and (max-width: 767px) {
  .section__top-stories {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

/* ========================
   SECTION: TOP FILTER
   ======================== */
.section__recipes-container .section__filter {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2rem 0;
  border-bottom: 1px solid #d0d0d0;
}
.section__recipes-container .section__filter .filter {
  position: relative;
}
.section__recipes-container .section__filter .filter h4 {
  position: relative;
  cursor: pointer;
}
.section__recipes-container .section__filter .filter h4::after {
  content: "";
  background: url("../assets/arrow-down.svg") no-repeat;
  background-size: cover;
  top: 4px;
  position: absolute;
  right: 60px;
  height: 10px;
  width: 10px;
  z-index: 2222;
}
.section__recipes-container .section__filter .filter .filterDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.section__recipes-container .section__filter .filter .filterDropdown label {
  text-transform: capitalize;
  padding: 0.7rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #d0d0d0;
}
.section__recipes-container .section__filter .filter .filterDropdown.active {
  height: auto;
}
.section__recipes-container #section__recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}
.section__recipes-container #section__recipes .recipy-wrapper {
  background: #f0f0f0;
  padding: 0.5em;
}
.section__recipes-container #section__recipes .recipy-wrapper img {
  height: 200px;
  object-fit: cover;
}
.section__recipes-container #section__recipes .recipy-wrapper h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 767px) {
  .section__recipes-container #section__recipes {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* ========================
   SECTION: FILTER
   ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 1.2vw, 32px);
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  max-width: 2560px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  padding: 0 3em;
}

section {
  margin: 2em auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  color: #fff;
  font-size: 7rem;
  font-family: "Spartan", sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.5em;
  font-weight: 300;
}

ul li {
  list-style: none;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

hr {
  border: 1px solid #e3e3e3;
}

@media screen and (max-width: 667px) {
  main {
    padding: 0 1em;
  }
  h1 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
