
*{
    font-family:"Open Sans",sans-serif ;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    color: black;
    align-items: center;
    justify-content: center;
}

.title-container{
    background-color: white;
    border: 2px black solid;
    margin-bottom: 4px;
    width: 100%;
    height: 10%;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

h1{
    font-size: 48px;
    text-align: center;
}

.filters {
    background-color: white;
    border: 2px black solid;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 16px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genre{
    background-color: wheat;
    border: 1px black solid;
    border-radius: 30px;
    width:46%;
    height: auto;
    margin: 10px;
    padding: 10px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;
   
}

.sort{
    background-color: wheat;
    border: 1px black solid;
    border-radius: 30px;
    width:24%;
    height: auto;
    margin: 10px;
    padding: 10px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;

}



.library{
    background-color: white;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 30px;
    color: black;
    width: 100%;
    padding: 16px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bookItem{
    background-color: wheat;
    
    border: 1px black solid;
    border-radius: 30px;
    width:300px;
    height: 600px;
    margin: 16px;
    padding: 16px 16px 24px 16px;
    align-items: center;
    color: black;
    font-size: 18px;  
    text-wrap: wrap; 
    display: flex;
    flex-direction: column;
}

.bookImage{
   
    width: 268px;
    height:200px;
    object-fit: cover;
}

.bookChild{
    border: 1px black solid;
    width:100%;
    height: auto;
    margin: 2px;
    padding: 2px;
    font-size: 10px;
}

.bookType{

}

.bookDetails{

}