* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #fafbff;
  font-family: "Hind", sans-serif;
}

h1 {
  margin: 50px;
  color: #0018a4;
  font-size: 40px;
  font-weight: 700;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
}

.filter,
.sort {
  margin: 0 0 10px 50px;
}

.filter-buttons,
.sort-buttons {
  padding: 10px 0 0 0;
}

button {
  padding: 8px 16px 8px 16px;
  margin: 0 5px 0 0;
  line-height: 23.91px;
  border: none;
  border-radius: 50px;
}

.filter-button {
  background-color: #ccffe2;
  color: #0018a4;
}

.sort-button {
  background-color: #ffecea;
  color: #0018a4;
}

.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-left: 50px;
  padding-right: 50px; */
  gap: 20px;
  margin: 20px 0 20px 0;
}

/* #recipe-card {
  background-color: aqua;
  border: 3px pink solid;
  /* display: flex;
  flex-direction: row; */

.recipe {
  background-color: white;
  border: 1px #e9e9e9 solid;
  /* width: 200px; */
  width: 268px;
  height: 100%;
  padding: 10px;
  border-radius: 16px;
}

img {
  width: 100%;
  height: 200px; /* Set a fixed height for consistent size */
  object-fit: cover;
  border-radius: 12px;
  /* object-position: 50% 50%; */
}
