* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: lightgray;
}

h1 {
  margin: 20px;
}

#library-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 20px;

  background: lightgray;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
}

.dropdown-genre {
  margin: 20px;
  padding: 5px;
  border: solid 2px darkgrey;
  border-radius: 10px;
  background: white;
}

/* Media Query for Tablet */
@media (min-width: 668px) and (max-width: 1024px) {
  #library-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Media Query for Desktop */
@media (min-width: 1025px) {
  #library-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

#sorting-button {
  max-width: 40px;
}