* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

h1 {
  margin: 50px;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
}

.filter,
.sort {
  margin: 0 0 10px 50px;
}

.filter-buttons,
.sort-buttons {
  padding: 10px 0 0 0;
}

button {
  padding: 7px;
  margin: 0 5px 0 0;
}

.recipe-section {
  border: 1px black solid;
  display: flex;
  background-color: green;
  flex-wrap: wrap;
}

/* #recipe-card {
  background-color: aqua;
  border: 3px pink solid;
  /* display: flex;
  flex-direction: row; */

.recipe {
  border: 1px black solid;
  background-color: grey;
  /* width: 200px; */
  width: 100%;
}

img {
  width: 100%;

  object-fit: cover;
  object-position: 50% 50%;
}
