@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kosugi+Maru&display=swap");

body {
  background-color: #eeb3c4;
  margin: 20px;
}

h1 {
  font-family: "Kosugi Maru";
  color: #000000;
  font-size: 70px;
  margin: 50px;
  display: flex;
  letter-spacing: 0.1, 5rem;
  justify-content: center;
}

h2 {
  font-family: "Fira Sans";
}





.book {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.book-image {
  width: 200px;

}

.book-title {
  font-weight: bold;
}

select {
  background-color: #e36262;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 18px 20px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Fira Sans";
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 4px;
}

button {
  background-color: #bc86dd;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 16px 20px;
  margin-right: 25px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Fira Sans";
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7abfa6;
  color: white;
}
/* This is called Specificity, and menas an element needs to be added to active, in order to treat the button.hover style equally important */
button.active {
  background-color:  #66b095;
}

.controls {
  display: flex;
  flex-direction: row;
  column-gap: 210px;
}



/*This styling make all the images the same size */
img {
  width: 268px;
  height: 200px;
}

