@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --highlighted-color: #0018a4;
  --shadow-color: #0018a334;
  --default-color: #ccffe2;
  --main-border-color: #e9e9e9;
  --selected-color: #fff;
  --fun-color: #ffecea;
  --genral-padding: 64px 64px 0 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.shop-title {
  color: var(--highlighted-color);
  padding: var(--genral-padding);
}

.filter-bar {
  max-width: 1300px;
  margin-top: 5rem;
  padding: var(--genral-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-weight: 700;
}

ul {
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
  gap: 1rem;
  font-size: 1rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.genre,
.year,
.general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

li {
  color: black;
  height: 40px;
  background-color: var(--default-color);
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 8px 16px;
  text-align: center;
  margin-top: 1rem;
  margin: auto;
  line-height: 23px;
  transition: all 0.2s;
  cursor: pointer;
}

li#sci-fi {
  text-wrap: nowrap;
}

li#randomBook {
  background: linear-gradient(
    90deg,
    var(--fun-color),
    var(--default-color),
    var(--fun-color)
  );
}

.selected {
  cursor: pointer;
  background-color: var(--highlighted-color);
  color: var(--selected-color);
  transition: all 0.2s;
}

.hover {
  cursor: pointer;
  background-color: var(--default-color);
  color: var(--highlighted-color);
  border: 2px solid var(--highlighted-color);
  border-radius: 50px;
}

.book-display {
  margin-top: 85px;
  padding: var(--genral-padding);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem;
  max-width: 100%;
}

.book-card {
  border: var(--main-border-color) 2px solid;
  border-radius: 16px;
  /* margin: 0 auto; */
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  width: 300px;
  transition: all 0.2s;
}

.book-infomation p {
  padding-top: 8px;
}

.book-hover {
  border: var(--highlighted-color) 2px solid;
  box-shadow: 0px 0px 20px var(--shadow-color);
  border-radius: 16px;
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 250px;
  height: 268px;
  object-fit: cover;
  border-radius: 12px;
}

.book-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 29.24px;
  margin-bottom: 8px;
}

.book-author,
.book-year,
.book-rating,
.book-genre,
.book-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 21.25px;
}

.book-author,
.book-description,
.book-genre {
  border-top: #e9e9e9 1px solid;
}

.book-year,
.book-rating {
  margin-bottom: 8px;
}

span.tag {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.92px;
}

/* Media queries */
@media only screen and (min-width: 1440px) and (max-width: 1800px) {
  .book-display {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .book-display {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .book-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
}

@media only screen and (max-width: 720px) {
  .book-display {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1100px) {
  .filter-bar {
    flex-direction: row;
  }

  .filter-section {
    flex-direction: row;
  }

  .genre,
  .year,
  .sort-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
