
*{
    font-family:"Open Sans",sans-serif ;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    color: black;
    align-items: center;
    justify-content: center;
}

.title-container{
    background-color: white;
    border: 2px black solid;
    margin-bottom: 4px;
    width: 100%;
    height: 10%;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}

h1{
    font-size: 48px;
    text-align: center;
}

h2{
    text-align: center;
}

h3{
  
}

.filters {
    background-color: white;
    border: 2px grey solid;
    border-radius: 30px;
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.genre{
    background-color: white;
    border: 1px black solid;
    border-radius: 30px;
    width:46%;
    height: 100px;
    margin: 10px 34px 10px 10px;
    padding: 10px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;   
}

.sort{
    background-color: wheat;
    border: 1px black solid;
    border-radius: 30px;
    width:24%;
    height: 100px;
    margin: 10px;
    padding: 2px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.sortTitle{
    font-size: 22px;
    font-weight: bolder;
    padding-left: 5px;
    margin-bottom: 4px;
}


button{
    background-color:#E9E9E9;
    color: black;
    border-radius: 50px;
    border: none;
    width: auto;
    height: 36px; 
    padding: 1px 20px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: 500;
}

button:hover{
    border: 1px black solid;
}

#all{
    background-color: black;
    color: white;
}

#more{
    font-weight: bolder;
}

#rating{
    background-color: black;
    color: white;
}


.library{
    background-color: white;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 30px;
    color: black;
    width: 100%;
    padding: 16px 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
}

.bookItem{
    background-color: wheat;
    border: 1px black solid;
    border-radius: 30px;
    width:300px;
    height: 500px;
    margin: 8px;
    padding: 16px 16px 8px 16px;
    align-items: center;
    color: black;
    font-size: 18px;  
    text-wrap: wrap; 
    display: grid;
    grid-template-rows: 260px 64px 124px; 
}

.bookImage{
    width: 100%;
    height:200px;
    object-fit: cover;
}

.bookChild{
    border-bottom: 1px grey solid;
    width:100%;
    height: 100%;
    margin: 2px;
    padding: 2px 10px;
    font-size: 10px;    
}

