* {
  background-color: beige;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: lightgray;
}

#library-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 1400px;
  background: pink;
}

img {
  width: 100%;
  max-width: 300px;
}

#sorting-button {
  max-width: 40px;
}