* {
  font-family: fantasy;
}
html {
  background-image: url("./books-images/lib-1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
}

/* Header styling */
#page-title {
  color: black;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  padding: 5px;
}
.para {
  color: black;
  font-weight: 500;
  background-color: bisque;
  margin: 4px;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
#wrapper {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 50px;
  gap: 10px;
}

.card {
  background-color: white;
  border-radius: 25px 0 25px 0;
  border: 1px solid gainsboro;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 540px;
  background-color: #f4e9de;
  margin-bottom: 30px;
}
.book-info{
  padding: 10px;
}

.book-item {
  margin: 5px;
}

img {
  width: 350px;
  height: 300px;
  border-radius: 25px 0 25px 0;
}
#book-title {
  font-weight: bold;
}


input {
  border-radius: 15px;
  width: 30%;
  height: 30px;
  display: block;
  margin-right: 10px;
  margin-left: auto;
}

#search-list {
  width: 25%;
  font-size: 10px;
  margin-right: 20px;
  margin-left: auto;
  background-color: aliceblue;
}
#search-input {
  padding-left: 2%;
}

.custom-message {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}

#filterDropDown, #sortingSelect {
  padding: 5px;
}
