:root{
  --f1:  #dbd8e3; 
  --f2:  #5c5470; 
  --f3:  #352f44; 
  --f4:  #2a2438; 
  }

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(books-images/pexels-abby-chung-1106468.jpg); 
  background-size: cover;
  background-position: center;
  height: 300px; 
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.sortButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

main, .main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

button, select {
  font-size: 0.775em;
  margin: 10px;
  padding: 10px 25px;
  background-color:rgb(255, 255, 255); 
  color: var(--f2);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.card{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(215, 213, 213);
  max-width: 700px;
  max-height: 600px;
  padding: 5px;
}

.card img{
  object-fit: cover;
  width: 130px;
  height: 220px;
  margin: 5px 20px 5px 5px;
  box-shadow: 3px 3px 5px #AAA;
}

footer {
  padding: 10px;
  text-align: center;
}

.footer-content {
  color: #fff;
  background-color: var(--f3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: .6em;
}

.logo {
  width: 40px;
  height: auto;
}

.card div h2{
  color: var(--f4);
}

.card div h3{
  color: var(--f3);
}

.card div p{
  color: var(--f2);
}

/* -----------------------------------------------MEDIA QUERIES--------------------------------------- */
/* -----------------------------------MOBILE SCREENS 360px to 670xp 1column--------------------------- */

@media (min-width: 360px) and (max-width:670px){
  button, select {
    font-size: 0.875em;
    margin: 5px;
    padding: 5px 5px;
    background-color:rgb(255, 255, 255); 
    color: #2f2f2f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

}
/* -----------------------------------TABLET SCREENS 671px to 1024xp 2 colums-------------------------- */
@media (min-width:671px) and (max-width:1024px) {

  .sortButtons {
    width: 80%;
  }
}

/* -----------------------------------PC SCREENS >1024px 4 columns ------------------------------------- */
@media (min-width: 1024px){
  main, .main{
    display: grid;
    gap: 30px;
    width: 80%;
    grid-template-columns: 1fr 1fr;    
  }  
}