* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6b5b95;
    color: white;
}

p {
    font-size: 18px;
}

#filterDropdown {
   margin-bottom: 14px;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;  
    text-align: center; 
    flex-wrap: wrap;
}

.card {
    min-height: 600px;
    width: 300px;
    background-color: #878f99;
    border-radius: 14px;
    border: 3px solid #b2b2b2;
    margin: 12px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
}

.card p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #878f99;
    justify-content: space-around;

}