* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #d77989;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 5%;
}

.navbar {
    color: #c33d53;
    font-size: 18px;
    box-shadow:2px 2px 4px 2px rgb(47, 44, 44);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

.navbar a {
    color: #d77989;
    text-decoration: none;
}
.navbar a:hover {
    color: white;
}

h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 8px;
    text-align: center;
    color: #d77989;
}

.filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


#filterDropdown,
.time-prep {
    padding: 8px;
    font-size: 12px;
    background-color: #c33d53;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#random {
    padding: 8px 13px;
    background-color: #c33d53;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* adjust more here */
.card {
    min-height: 350px;
    width: 300px;
    background: #d77989;
    color: black;
    border-radius: 16px;
    border: 2px solid #c33d53;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card button {
    border: none;
    background-color: black;
    padding: 4px 6px;
    border-radius: 4px;
    color: white;
    font-style: bold;
}

.card img {
    margin: 22px 0; 
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.card h3 {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 22px;
}

.card p {
    font-size: 22px;
    margin: 0;
}

.card ingredients {
margin: 10px;
}

footer {
    box-shadow:2px 2px 4px 2px rgb(201, 151, 151);
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 50%;
    padding-top: 20px;
}

/* Existing styles... */

@media only screen and (max-width: 768px) {
    /* For screens smaller than 768px */
    .filter-options {
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;

    }
  
    .filter-options select {
      margin-bottom: 10px; 
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* For screens between 768px and 1024px */
    .filter-options {
      display: flex; 
      justify-content: space-between; 
  
    .filter-options > p {
      flex: 1; /* Make paragraphs grow equally */
      text-align: center; 
    }
  
    .filter-options select,
    #random {
      margin: 0 10px; 
    }
  }
  
  @media only screen and (min-width: 1024px) {
    /* For screens wider than 1024px */
    .filter-options {
      display: flex; 
      justify-content: space-between; 
  
    .filter-options > p {
      flex: 1;
      text-align: center; 
      margin: 0 20px; 
    }
  
    .filter-options select,
    #random {
      margin: 0 20px; 
    }
}
}