
*{
    font-family:"Open Sans",sans-serif ;
    box-sizing: border-box;
}

body {
    background-color: #FAFBFF;
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    color: black;
    align-items: center;
    justify-content: center;
}

main{
    background-color:#FAFBFF ;
}

.title-container{
    background-color: #FAFBFF;
    /*.bookImage: 2px black solid;*/
    margin-top: 30px;
    width: 100%;
    max-width: 1312px;
    height: 120px;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 10px;
}

h1{
    font-size: 60px;
    text-align: center;
    font-weight: 750;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

h4{
    font-size: 11px;
}

p{
    font-weight: bolder;
}


.filters {
    background-color: #FAFBFF;
    /*border: 2px grey solid;*/
    border-radius: 30px;
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
    padding: 10px 10px 16px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.genre{
    background-color: #FAFBFF;
    /*border: 1px black solid;*/
    border-radius: 30px;
    width:46%;
    height: 80px;
    margin: 2px 34px 2px 2px;
    padding: 2px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;   
}

.genreButton button,
.genreButton select {
  display: inline-block;
  vertical-align: middle; 
}



.sort,
.surprise{
    background-color: #FAFBFF;
    /*border: 1px black solid;*/
    border-radius: 30px;
    width:24%;
    height: 80px;
    margin: 2px;
    padding: 2px 16px;
    justify-content: center;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.sortTitle,
.surpriseTitle{
    font-size: 22px;
    font-weight: bolder;
    padding-left: 5px;
    margin-bottom: 4px;
}

button{
    background-color:#E9E9E9;
    color: black;
    border-radius: 50px;
    border: none;
    width: auto;
    height: 36px; 
    padding: 1px 20px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: 500;
}

button#random{
    background-color:#FF6589;
    color: white;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 36px; 
    padding: 1px 20px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: 500;
}

option{
    background-color:#E9E9E9;
    color: black;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 36px; 
    padding: 1px 20px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: 500;
}

#more:hover,
#more1:hover,
button:hover{
    border: 2px black solid;
}

#more:focus,
#more1:focus,
button:focus{
    border: 2px black solid;
    background-color: black;
    color: white;
}

#random:hover{
    border: 2px #0018A4 solid;
}

#random:focus{
    border: 2px #0018A4 solid;
    background-color: #0018A4;
    color: white;
}

/*#all{
    background-color: black;
    color: white;
}*/

#more,
#more1{
    background-color:#E9E9E9;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 36px; 
    padding: 1px 20px;
    margin-right: 4px;
    cursor: pointer;
    font-weight: bolder;
}


.library{
    background-color: #FAFBFF;
    box-sizing: border-box;
    /*border: 2px black solid;*/
    border-radius: 30px;
    color: black;
    width: 100%;
    max-width: 1312px;
    padding: 4px 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
}

.bookItem{
    background-color:white;
    border: 2px #E9E9E9 solid;
    border-radius: 16px;
    width:300px;
    height: 500px;
    margin: 8px;
    padding: 16px 16px 8px 16px;
    align-items: center;
    color: black;
    font-size: 18px;  
    text-wrap: wrap; 
    display: grid;
    grid-template-rows: 260px 56px 132px; 
}

.bookItem:hover{
    border: 2px black solid;
    box-shadow: 5px 5px 8px lightgray;

}

.bookImage{
    width: 100%;
    height:200px;
    object-fit: cover;
}

.bookChild{
    border-bottom: 1px #E9E9E9 solid;
    width:100%;
    height: 100%;
    margin: 2px;
    padding: 2px 10px;
    font-size: 10px;    
}

