@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");

body {
  margin: 0;
  color: #fff;
  font-family: "Gentium Book Plus", serif;
}

h1 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ebe6dc;
}

button {
  margin: 25px 10px;
  background: #7a96b3;
  color: #fff;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
}

button:hover {
  cursor: pointer;
  transform: translateY(1px);
  box-shadow: none;
}

/* HEADER */

header {
  /* padding: 30px 40px 10px 40px; */
  background: #7a96b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-menu {
  width: 100%;
  background: #9ab0c6;
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
}

/* MAIN */

.filter-dropdown,
.sort-dropdown {
  margin: 10px 5px;
  padding: 5px;
}
.card-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 16px;
  border: 2px solid #ab869a;
  padding: 20px;
  width: 20%;
  background: #c0a4b3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card p {
  margin: 0;
}

.card span {
  font-weight: 700;
}

.card img {
  margin: 15px 0;
  height: 205px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-self: center;
}

/* FOOTER */

footer {
  background: #7a96b3;
  min-height: 100px;
  padding: 20px;
}
