body {
  background-color: #FAFBFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.filter-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  background-color: #FFECEA;
  color: #0018a4;
}

#title {
  margin-top: 2rem;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 20px;
  margin: 40px 40px 40px 40px;
} 

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  padding: 16px, 16px, 24px, 16px;
  box-sizing: border-box;
  border-radius: 20px;
  border: solid 1px #0018A4;
  cursor: pointer; 
}

.card-wrapper:hover {
  border-radius: 20px;
  border: solid 2px #0018A4;
}

img {
  max-width: 100%;
  aspect-ratio: 5 / 4;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.detail-content {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

span {
  font-weight: 600;
}

button {
  border-radius: 20px;
  height:2rem;
  padding: 0 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #CCFFE2;
  color: #0018A4;
}

button:hover {
  background-color: #0018A4;
  color: #FAFBFF ;
}

#random-button{
  background-color: #FFECEA;
  color:#0018A4;
}
 
#random-button:hover{
  background-color: #FF6589;
  color:#FAFBFF;
}

header:hover{
  cursor: pointer;
}

@media only screen and (max-width:500px) {
  .gallery-wrapper {
    display: flex;
    flex-direction: column;  
  }
}

@media (min-width: 501px) and (max-width: 1200px) {
  .gallery-wrapper{
    grid-template-columns: auto auto;
  }
}

