@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafbff;
}

h1 {
  color: #0018a4;
  margin: 20px;
  padding-left: 40px;
  font-size: 64px;
}

header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.filter-box,
.sort-box,
.random-button-box {
  margin: 2rem;
  padding-left: 30px;
}

.headings-top {
  font-size: 22px;
  font-weight: bold;
  padding: 16px 16px 16px 0px;
}

.filter-buttons:focus,
#random:focus {
  background-color: #0018a4;
  color: #ffffff;
}

.sort-buttons:focus {
  background-color: #ff6589;
  color: #ffffff;
}

.filter-buttons,
#random {
  background-color: #ccffe2;
  color: #0018a4;
  padding: 8px 16px 8px 16px;
  font-style: bold;
  border-radius: 50px;
  border: none;
}

.filter-buttons:hover,
#random:hover {
  border: 2px solid #0018a4;
}

.sort-buttons {
  background-color: #ffecea;
  color: #0018a4;
  font-style: bold;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  border: none;
}

.sort-buttons:hover {
  border: 2px solid #0018a4;
  color: white;
  background-color: #ff6589;
}

.subheadings {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

#container {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
  margin: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
}

.book-cards {
  height: 100%;
  padding: 16px 16px 24px 16px;
  border-radius: 16px;
}

.book-cards:hover {
  box-shadow: 0px 0px 30px 0px #0018a433;
  border: 2px solid #0018a4;
}

.img-cards {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 22px;
  padding-bottom: 16px;
}

@media (min-width: 667px) and (max-width: 1024px) {
  #container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
  }
}

.wrapper {
  flex-wrap: wrap;
}

@media (min-width: 1025px) {
  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }

  .wrapper {
    flex-wrap: wrap;
  }
}